services:
    nginx:
        build:
            context: .
            dockerfile: ./docker/prod/nginx/Dockerfile
            cache_from:
                - nginx:alpine
        restart: unless-stopped
        depends_on:
            - app
        environment:
            - HTTP_PORT=80
        # volumes:
        #     - .:/app
        volumes:
            - '.:/var/www/html'
        ports:
            - '${APP_PORT:-80}:80'
            - '${VITE_PORT:-5173}:${VITE_PORT:-5173}'
        networks:
            - laraprod

    app:
        image: mb_app
        build:
            context: .
            dockerfile: ./docker/prod/app/Dockerfile
            cache_from:
                - php:8.4-fpm
        restart: unless-stopped
        volumes:
            - '.:/var/www/html'
        extra_hosts:
            - "my-brandable.localhost:host-gateway"
        depends_on:
            - database
        networks:
            - laraprod
    database:
        image: 'mysql/mysql-server:8.0'
        ports:
            # - '${FORWARD_DB_PORT:-3306}:3306'
            - "127.0.0.1:3307:3306"
        restart: unless-stopped
        volumes:
            - database:/var/lib/mysql
            - ./docker/prod/mysql/dump:/docker-entrypoint-initdb.d
        environment:
            MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
            MYSQL_ROOT_HOST: '%'
            MYSQL_DATABASE: '${DB_DATABASE}'
            MYSQL_USER: '${DB_USERNAME}'
            MYSQL_PASSWORD: '${DB_PASSWORD}'
            MYSQL_ALLOW_EMPTY_PASSWORD: 1
        networks:
            - laraprod
    manticore:
        image: manticoresearch/manticore
        ports:
            - 127.0.0.1:9306:9306
            - 127.0.0.1:9308:9308
        ulimits:
            nproc: 65535
            nofile:
                soft: 65535
                hard: 65535
        # memlock: #TODO ошибка: validating /var/www/laramarket/docker-compose.yml: services.manticore Additional property memlock is not allowed
        #     soft: -1
        #     hard: -1
        volumes:
            - ./data:/var/lib/manticore
        networks:
            - laraprod
networks:
    laraprod:
        driver: bridge
volumes:
    database:
    sessions:
